@model Laborator4.Models.Article

@{ ViewBag.Titlu = "Editare Articol"; }

<h2>@ViewBag.Titlu</h2>

<form method="post" action="/Article/Edit/@Model.Id">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.Id)     
    <br />     
    @Html.Label("Title", "Titlu Articol")     
    <br />     
    @Html.EditorFor(m => m.Title)     
    <br /><br />

    @Html.Label("Content", "Continut Articol")     
    <br />     
    @Html.EditorFor(m => m.Content)     
    <br /><br />

    @Html.HiddenFor(m => m.Date)     
    <br />

    <label>Selectati categoria</label>     
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"), new { @class = "form-control" })     <br />

    <button class="btn btn-sm btn-success" type="submit">Modifica articol</button>

</form>