@model Laborator4.Models.Article

@{ 
    ViewBag.Titlu = "Adaugare articol"; 
}

<h2>@ViewBag.Titlu</h2>
<br />
<form method="post" action="/Article/New">

    @Html.Label("Title", "Titlu Articol")     
    <br />     
    @Html.TextBox("Title", null, new { @class = "form-control" })     
    <br /><br />

    @Html.Label("Content", "Continut Articol")     
    <br />     
    @Html.TextArea("Content", null, new { @class = "form-control" })     
    <br /><br />

    @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })

    <label>Selectati categoria</label>     
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"), "Selectati categoria", new { @class = "form-control" })     
    <br />

    <button class="btn btn-sm btn-success" type="submit">Adauga articol</button>

</form> 