
@{
    ViewBag.Title = "Afisare articole";
}

<h2>@ViewBag.Title</h2>

@foreach (Laborator4.Models.Article article in ViewBag.Articles)
{
    <div class="panel panel-default">
        <div class="panel-heading">@article.Title</div>
        <div class="panel-body">
            Continut articol: <strong>@article.Content</strong>
            <br />
            <span class="label label-success">@article.Date</span>
            <br />
            <i class="glyphicon glyphicon-globe"></i> @article.category.CategoryName
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-success" href="/Article/Show/@article.Id">Afisare articol</a>
        </div>
        <br />
    </div>
}

<br />     
<a class="btn btn-success" href="/Category/Index">Afisare lista categorii</a>
<br />
<br />     
<a class="btn btn-info" href="/Article/New">Adauga articol</a>
<br />