@model Laborator4.Models.Article

@{ ViewBag.Title = "Show"; }

<h1>Afisare articol</h1>

<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        Continut articol: <strong>@Model.Content</strong>
        <br />
        <span class="label label-success">@Model.Date</span>
        <br />
        <i class="glyphicon glyphicon-globe">@Model.category.CategoryName</i>
    </div>
    <div class="panel-footer">
        <a class="btn btn-success" href="/Article/Edit/@Model.Id">Modifica articol</a>
        <br />
    </div>
</div>

<form method="post" action="/Article/Delete/@Model.Id">

    @Html.HttpMethodOverride(HttpVerbs.Delete)     
    <br />     
    <button class="btn btn-success" type="submit">Sterge articol</button>

</form>

<br />
<hr /> 
<a class="btn btn-success" href="/Article/Index">Inapoi la articole</a>
<br />
<br /> 
<a class="btn btn-info" href="/Article/New">Adauga articol</a>
<br /> 