
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<h1>Afisare categorie</h1>
<h2>@ViewBag.Category.CategoryName</h2>

<br />
<hr />

@foreach (var article in ViewBag.Articles)
{
    <h3>@article.Title</h3>
    <p>@article.Content</p>
    <p>@article.Date</p>
    <br />
    <hr />
}

<a href="/Category/Edit/@ViewBag.Category.CategoryId">Modifica categorie</a>

<form method="post" action="/Category/Delete/@ViewBag.Category.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge categorie</button>
</form>

<br />
<hr />
<a href="/Article/New">Adauga un articol nou</a>
<br />
<a href="/Article/Index">Afiseaza toate articolele</a>
<br />

<hr />
<a href="/Category/Index">Inapoi la categorii</a>