@model Laborator4.Models.Article

@{
    ViewBag.Titlu = "Adaugare articol";
}

<h1>@ViewBag.Titlu</h1>
<hr />
@using (Html.BeginForm(actionName: "New", controllerName: "Article"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" });

    @Html.Label("Title", "Titlu Articol");
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, "Titlul este obligatoriu", new { @class = "text-danger" });
    <br />
    <br />

    @Html.Label("Content", "Continut Articol")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Content, "Continutul este obligatoriu", new { @class = "text-danger" });
    <br />
    <br />
    @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })

    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"), "Selectati categoria", new { @class = "form-control" });
    @Html.ValidationMessageFor(m => m.CategoryId, "Categoria este obligatorie", new { @class = "text-danger" });
    <br />

    <button class="btn btn-sm btn-success" type="submit">Adauga articol</button>
}

<br />
<br />
<a class="btn btn-sm btn-info" href="/Article/Index">Inapoi</a>